@import scala.collection.mutable.ListBuffer
@(player1: String, player2: String, game: ListBuffer[String])
<script>
        function locationreload() {
            location.reload();

        }
</script>
@main("Tennis Game") {
    <ul>
        <p>Hello @player1 and @player2!</p>
    </ul>

    <ul>
    @for(i <- 0 until game.length) {
        <p>@game(i)</p>
    }
    </ul>

    <p class="buttons">
        <a href="@routes.HomeController.index">Back</a>
    </p>


    <p class="buttons">
        <a onclick="locationreload()">New Game</a>

    </p>
}