@import scala.collection.mutable.ListBuffer
@(player1: String, player2: String, game: ListBuffer[String])

<script>
        function locationreload() {
            location.reload();
        }
</script>

@main("Tennis Game") {
    <div>
    <ul>
        <h3>@player1 and @player2 are playing!</h3>
    </ul>

    <ul>
    @for(i <- 0 until game.length) {
        <p>@game(i)</p>
    }
    </ul>
    </div>
    <div>
    <a class="btn btn-primary" href="@routes.GameController.index" role="button" >Back</a>
    <a class="btn btn-primary" onclick="locationreload()"role="button" >New Game</a>
    </div>
}